{% extends 'shop/base.html' %}
{% block title %} О нас {% endblock %}
{% block content %}
<div class="text-center">
    <h1>О нас</h1>
    <p>Детские товары по цене производителя
        В наличии игрушки для мальчиков и девочек любого возраста!
        Куклы, музыкальные инструменты, наборы для творчества, машины на управлении, коляски, ходунки, мячи и тренажеры
        по
        минимальным оптовым и розничным ценам. 100% качество продукции, сертификаты в наличии.
        Игровой мир ждет вас!</p>
</div>
{% endblock %}
